.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-title {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 16px 0;
}

.time-input {
  font-size: 24px;
}

.time-option {
  font-size: 24px;
}
